<header>
    	<nav>
			<div class="flex flex-row justify-between items-center text-white bg-gray-600 px-[1rem] py-[1rem] sm:px-[1.5rem] sm:py-[1.5rem]">
				<h2 class="p-0 m-0 text-2xl sm:text-xl font-bold">
					Kindergarten
				</h2>
				<ul class="fixed hidden md:block right-0 top-0 md:relative md:flex-row md:justify-between" id="navbar">
					<div class="flex flex-col md:flex-row gap-4 md:gap-0 md:mt-0 px-[1rem] py-[1rem] sm:px-[1.5rem] sm:py-[1.5rem] md:p-0 min-h-[100vh] md:min-h-0 min-w-[40vw] md:min-w-0 bg-gray-600/[0.95] z-1 md:z-0 rounded-lg">
						<li class="md:hidden text-right" id="navbar--closeButton">
							<span class="material-symbols-rounded hover:text-amber-500">
								close
							</span>
						</li>
						<hr class="md:hidden">
						<li>
							<a class="hover:bg-amber-500 hover:text-white p-2 md:p-4 rounded-md" href="#">Home</a>
						</li>
						<hr class="md:hidden">
						<li>
							<a class="hover:bg-amber-500 hover:text-white p-2 md:p-4 rounded-md" href="#">About</a>
						</li>
						<hr class="md:hidden">
						<li>
							<a class="hover:bg-amber-500 hover:text-white p-2 md:p-4 rounded-md" href="#">Posts</a>
						</li>
						<hr class="md:hidden">
						<li>
							<a class="hover:bg-amber-500 hover:text-white p-2 md:p-4 rounded-md" href="#">Contact</a>
						</li>
						<hr class="md:hidden">
					</div>
				</ul>
				<div class="md:hidden" id="navbar--menuButton">
					<span class="material-symbols-rounded">
						menu
					</span>
				</div>
			  </div>			
		  </nav>
    </header>
	<main>
		<div class="min-h-[50vh] bg-gradient-to-r from-red-400 to-blue-500 flex justify-center items-center">
			<h1 class="p-0 m-0 text-white font-semibold text-2xl sm:text-4xl text-center">
				Find a free place for your child in the kindergarten of your choosing!
			</h1>
		</div>
		<div class="flex flex-col items-center p-16 text-amber-500 bg-gray-600 text-xl text-left">
			<h3 class="p-0 m-0 text-3xl">
				Fill up the form with required information
			</h3>
			<%= form_with(model: @select_form, url:"/selection") do |f| %>
				<div class="my-8 flex justify-left">
					<p class="text-white mr-4">
						<%= f.label :name, placeholder: "Name"%>
					</p>
					<p class="text-black">
						<%= f.text_field :name , :required => 'required' %>
					</p>				
				</div>
				<div class="my-8 flex justify-left">
					<p class="text-white mr-4">
						<%= f.label :email %>
					</p>
					<p class="text-black">
						<%= f.email_field :email , :required => 'required' %>
					</p>				
				</div>
				<div class="my-8 flex justify-left">
					<p class="text-white mr-4">
						<%= f.label :select_kindergarten %>
					</p>
					<p class="text-black">
						<%= f.select "kindergarten_selection", options_for_select([ "Option 1", "Option 2", "Option 3", "Option 4", "Option 5", "Name of the kindergarten, Adress" ], "Option 1"), :required => 'required' %>
					</p>				
				</div>
				<button class="text-white bg-amber-500 rounded-md p-2">
					<%= f.submit :Send %>
				</button>
        	<% end %>
		</div>
	</main>